<nav class="navbar bg-navbar">
    <div class="container-fluid">
        <p class="text-white app-text no-space">
            <img src="./assets/images/icon-app.png" class="size-img-app" />
            Salwort Devs
        </p>

        <button class="navbar-toggler-btn bg-button-movil ms-auto d-lg-none" 
            (click)="toggleMenu()">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="nav-menu" [class.show]="menuOpen">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-navbar" routerLink="Home" 
                        routerLinkActive="link-active" (click)="menuOpen = false">
                        {{'page.home' | translate}} |
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-navbar" routerLink="Developers" 
                        routerLinkActive="link-active" (click)="menuOpen = false">
                        {{'page.devs' | translate}} |
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-navbar" routerLink="About_of" 
                        routerLinkActive="link-active" (click)="menuOpen = false">
                        {{'page.about' | translate}} |
                    </a>
                </li>
                <li class="nav-item dropdown" (click)="toggleDropdown()">
                    <a class="nav-link text-white dropdown-toggle" role="button">
                        {{currentLang}}
                    </a>
                    <ul class="dropdown-menu" [class.show]="dropdownOpen">
                        <li (click)="setLang('es')" class="dropdown-item">Español</li>
                        <li (click)="setLang('en')" class="dropdown-item">Ingles</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>