<div class="col-12 row center">
    <div class="col-12 text-center">
        <h2 class="title mt-3">
            <button 
                routerLink="/Apps" 
                class="btn vertical-center back-arrow ms-2">
                <img src="./assets/images/flecha-arriba.png"/>
            </button>
            Activity Planner
        </h2>
    </div>
    <div class="col-10">
        <div class="container">
            <!-- BOX HOME -->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap1.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen1-title' | translate}}</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen1-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen1-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen1-text3' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen1-text4' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOX BOARDS -->
             <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen2-title' | translate}}</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen2-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen2-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                {{'ap-app-info.screen2-text3' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen1-text4' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap2.png"
                        class="h-75 box-border"/>
                </div>
             </div>
             <!-- BOX Boards -->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap3.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen3-title' | translate}}</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                E{{'ap-app-info.screen3-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen3-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen3-text3' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
              <!-- BOX BOARD ADDED -->
              <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen4-title' | translate}}</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen4-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen4-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                {{'ap-app-info.screen4-text3' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap4.png"
                        class="h-75 box-border"/>
                </div>
             </div>
              <!-- CATEGORY-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap5.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen5-title' | translate}}</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen5-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen5-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen5-text3' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
               <!-- CATEGORY ADDED -->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen6-title' | translate}}</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen6-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen6-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                {{'ap-app-info.screen6-text3' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen6-text4' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap6.png"
                        class="h-75 box-border"/>
                </div>
             </div>
            <!-- STATUS-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap7.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen7-title' | translate}}</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen7-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen7-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen7-text3' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
               <!-- STATUS ADDED-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen8-title' | translate}}</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen8-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen8-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                {{'ap-app-info.screen8-text3' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap8.png"
                        class="h-75 box-border"/>
                </div>
             </div>
             <!-- Profile-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap9.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">{{'ap-app-info.screen9-title' | translate}}</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen9-text1' | translate}}
                            </p>
                            <p class="text-body">
                                {{'ap-app-info.screen9-text2' | translate}}
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                {{'ap-app-info.screen9-text3' | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>