<div class="col-12 row center">
    <div class="col-12 text-center">
        <h2 class="title mt-3">
            <button 
                routerLink="/Apps" 
                class="btn vertical-center back-arrow ms-2">
                <img src="./assets/images/flecha-arriba.png" alt="">
            </button>
            Activity Planner
        </h2>
    </div>
    <div class="col-10">
        <div class="container">
            <!-- BOX HOME -->
            <div class="row box-border bg-white-transparent center vh-50 mt-3">
                <div class="col center">
                    <img
                        src="./assets/images/activityPlanner/home.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">Inicio</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                            <p class="text-body">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                            <p class="text-body">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOX BOARDS -->
             <div class="row box-border bg-white-transparent center vh-50 mt-3">
                <div class="col text-center">
                    <h3 class="title">Tableros</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                            <p class="text-body">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                            <p class="text-body">
                                Esta pantalla visualizaras un reporte de uso de nuestra aplicación
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <img
                        src="./assets/images/activityPlanner/boards.png"
                        class="h-100">
                </div>
             </div>
        </div>
    </div>
</div>