<div class="col-12 row center">
    <div class="col-12 text-center">
        <h2 class="title mt-3">
            <button 
                routerLink="/Apps" 
                class="btn vertical-center back-arrow ms-2">
                <img src="./assets/images/flecha-arriba.png"/>
            </button>
            Activity Planner
        </h2>
    </div>
    <div class="col-10">
        <div class="container">
            <!-- BOX HOME -->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap1.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">Inicio</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                En esta pantalla podras escribir tu usuario y contraseña
                            </p>
                            <p class="text-body">
                                En caso de no tener un correo registrado, podra crear cuenta
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                Sino no te apetece crear cuenta podras iniciar con Google
                            </p>
                            <p class="text-body">
                                Puedes recuperar tu contraseña en caso de haberla olvidado
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- BOX BOARDS -->
             <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">Tableros</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                Esta es la pantalla principal 
                            </p>
                            <p class="text-body">
                                La información de tus tablero se mostrara nada mas entrar a la app
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                Al final puedes ver el top 3 de las categorias que mas usas
                            </p>
                            <p class="text-body">
                                Del lado izquierdo tienes todas las secciones
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap2.png"
                        class="h-75 box-border"/>
                </div>
             </div>
             <!-- BOX Boards -->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap3.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">Tableros</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                                Esta es la pantalla de tus tableros
                            </p>
                            <p class="text-body">
                                Aqui puedes agregar tus tableros, con nombre y detalle
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                Solo basta con pulsar el botón de agregar para añadir un tablero
                            </p>
                        </div>
                    </div>
                </div>
            </div>
              <!-- BOX BOARD ADDED -->
              <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">Tablero Añadido</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                               Asi se ve cuando añades un tablero
                            </p>
                            <p class="text-body">
                                En la carta puedes apreciar el nombre y el detalle previamente añadido 
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                Puedes agregar cuantos quieras.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap4.png"
                        class="h-75 box-border"/>
                </div>
             </div>
              <!-- CATEGORY-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap5.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">Categorias</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                               Puedes apreciar ts categorias en forma de lista 
                            </p>
                            <p class="text-body">
                               Puedes agregar mas categorias
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                Editarlas si asi lo deseas
                            </p>
                        </div>
                    </div>
                </div>
            </div>
               <!-- CATEGORY ADDED -->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">Categoria añadida</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                               Para añadir una categoria, solo basta con pulsar el boton de agregar para que te deje escribir el nombre de tu categoria
                            </p>
                            <p class="text-body">
                               Una vez agregada aparecera en la lista
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                Puedes ordenar tuscategorias por orden alfabetico o eliminarlas
                            </p>
                            <p class="text-body">
                               Tambein pudes buscar entre tus categorias
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap6.png"
                        class="h-75 box-border"/>
                </div>
             </div>
            <!-- STATUS-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap7.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">Estados</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                               Estos son los estados que tienes, ordenados en forma de lista
                            </p>
                            <p class="text-body">
                               Puedes agregar mas estados si lo deseas
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                                Ordenar tus estados por orden alfabetico tambien es posible o buscar entre ellos
                            </p>
                        </div>
                    </div>
                </div>
            </div>
               <!-- STATUS ADDED-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col text-center">
                    <h3 class="title">Añadir Estados</h3>
                    <div class="row">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                               Solo ocupas escribir el nombre de tu estado, seleccionar tus colores y cuando termines confirmar el estado
                            </p>
                            <p class="text-body">
                               Una vez agregado el estado aparecera en la lista
                            </p>
                        </div>
                        <div class="col ms-2 mb-3">
                            <p class="text-body">
                                Podras ver un ejemplo de como se ve tu estado 
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center mt-4" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap8.png"
                        class="h-75 box-border"/>
                </div>
             </div>
             <!-- Profile-->
            <div class="row box-border bg-white-transparent center mt-3 card-style">
                <div class="col center" style="height: 50vh;">
                    <img
                        src="./assets/images/ap/ap9.png"
                        class="h-75 box-border">
                </div>
                <div class="col text-center">
                    <h3 class="title">Perfil</h3>
                    <div class="row mt-3">
                        <div class="col me-2">
                            <p class="text-body mb-3">
                               Estos son tus datos de usuario
                            </p>
                            <p class="text-body">
                               Puedes cambiarlos en cualquier momento que quieras 
                            </p>
                        </div>
                        <div class="col ms-2">
                            <p class="text-body mb-3">
                               Puedes seleccionar los colores de preferencia 
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>