<div class="ps-5 pe-5 center" style="height: 80%;">
    <div class="row col-12">
        <div
            class="col size-box bg-white-transparent me-3 pointer"
            [routerLink]="['/ProfileDeveloper', 'Samuel']">
            Edgar Samuel Guerrero Sandoval
        </div>
        <div
            class="col size-box bg-white-transparent me-3"
            [routerLink]="['/ProfileDeveloper', 'Luis']">
            Luis Paulo Calderon Nava
        </div>
        <div
            class="col size-box bg-white-transparent"
            [routerLink]="['/ProfileDeveloper', 'Aksel']">
            Aksel Akemi Herrera Gonzalez
        </div>
    </div>
</div>