<div class="scroll">
    <div class="col-12 m-3 text-center mb-5">
        <div  class="d-flex align-items-center title">
            <button 
                routerLink="/Home" 
                class="btn vertical-center back-arrow ms-2">
                <img src="./assets/images/flecha-arriba.png"/>
            </button>
            <p class=" mt-3  ms-4">{{"policy_privaticy.title" | translate}}</p>
        </div>
        <h3 class="text-privacy mt-3">
            {{"policy_privaticy.description" | translate}}
        </h3>

        <h2 class="text-li mt-3">
            1. {{"policy_privaticy.title-point-1" | translate}}
        </h2>

        <h5 class="text-privacy mt-4">
            {{"policy_privaticy.description-point-1" | translate}}
        </h5>

        <h2 class="text-li mt-4">
            2. {{"policy_privaticy.title-point-2" | translate}}
        </h2>

        <h5 class="text-privacy mt-4">
            {{"policy_privaticy.description-point-2" | translate}}
        </h5>

        <h2 class="text-li mt-4">
            3.  {{"policy_privaticy.title-point-3" | translate}}
        </h2>

        <h5 class="text-privacy mt-4">
            {{"policy_privaticy.description-point-3" | translate}}
        </h5>

        <h2 class="text-li mt-4">
            4.  {{"policy_privaticy.title-point-4" | translate}}
        </h2>

        <h5 class="text-privacy mt-4">
            {{"policy_privaticy.description-point-4" | translate}}
        </h5>

        <h2 class="text-li mt-4">
            5. {{"policy_privaticy.title-point-5" | translate}}
        </h2>

        <h5 class="text-privacy mt-4">
            {{"policy_privaticy.description-point-5" | translate}}
        </h5>

        <h2 class="text-li mt-4">
            6.  {{"policy_privaticy.title-point-6" | translate}}
        </h2>

        <h5 class="text-privacy mt-4">
            {{"policy_privaticy.description-point-6" | translate}}
        </h5>

        <h2 class="text-li mt-4">
            7. {{"policy_privaticy.title-point-7" | translate}}
        </h2>

        <h5 class="text-privacy mt-4">
            {{"policy_privaticy.description-point-7" | translate}}
        </h5>
    </div>
</div>
