<div class="col-12 center-horizontal" *ngIf="selectProject!.platforms.length > 1">
    <div class="col-11 container-buttons p-1">
        <button *ngIf="isMovil()" class="buttons-switch col ms-2 me-2"
            [ngClass]="{'selected-item-background': selectedButton === 'movil'}"
            (click)="selectedPlatform('movil')">Movil
        </button>
        <button *ngIf="isWeb()" class="buttons-switch col ms-2 me-2"
            [ngClass]="{'selected-item-background': selectedButton === 'web'}" (click)="selectedPlatform('web')">Web
        </button>
        <button *ngIf="isDesktop()" class="buttons-switch col ms-2 me-2"
            [ngClass]="{'selected-item-background': selectedButton === 'desktop'}"
            (click)="selectedPlatform('desktop')">Escritorio
        </button>
    </div>
</div>

<div class="col-12 center-horizontal mt-3">
    <div class="col-11">
        <div class="col-12 bg-card-dark p-3 text-white">
            <div class="row">
                <h3 class="col-xs-12 col-md-8">Relevancia en proyecto</h3>
                <div class="col-xs-12 col-md-4 icons-container">
                    <img class="icons-tools" *ngFor="let tool of selectProject?.tools"
                        src="./assets/images/tools/{{tool}}.png" />
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="item-start">
                        <button *ngFor="let item of getArrayRelevance" class="vertical-center"
                            [ngClass]="{'bg-start': selectedButtonStart != item, 'bg-start-selected': selectedButtonStart == item}"
                            (click)="selectButtonStart(item)"
                            [value]="item">
                            <img
                                [src]="(selectedButtonStart == item) ? './assets/images/check.png' : './assets/images/icons-relevance/star.png'"
                                class="me-1 relevance-icon-button"
                                />{{item}}
                        </button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div *ngFor="let achievemnt of getAchievemnts()" class="record-achievement col-xs-12 col-6">
                    <div class="row mt-2 ms-3 me-3">
                        <div class="col-xs-12 col-xl-3 text-center mt-3">
                            <div class="col-12 center-horizontal">
                                <img *ngFor="let index of getNumberArrayRelevance(achievemnt.relevance)"
                                    src="./assets/images/icons-relevance/star.png" class="relevance-icon-img" />
                            </div>
                            <p class="text-gray">{{ strRelevance(achievemnt.relevance)}}</p>
                        </div>
                        <div class="col me-3 bg-white-transparent border-card-radius p-2 ps-4">
                            <h5 class="col-12  white-text mb-2 no-padding">
                                {{achievemnt.title | translate}}
                            </h5>
                            <p class="col-12 white-text no-space">
                                {{achievemnt.detail | translate}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-12 center-horizontal mt-2">
    <div class="col-11 row  bg-white-transparent size-box-application p-3 text-white center-horizontal">
        <h1 class="col-12 mb-3 center">{{selectProject?.name ?? '' | translate}}</h1>
        <img class="icon-project mb-2" src="./assets/images/projectsIcons/{{selectProject?.icon?.url}}.png" />
        <p class="font-size">
            {{selectProject!.detail | translate}}
        </p>
    </div>
</div>