<div class="px-16 py-10">
  <button class="flex flex-row items-center gap-2 primary-ligth bg-primary p-3 rounded-full border-primary">
    <div class="h-2 w-2 rounded-full bg-primary-ligth"></div>
    Desarrollo de Software
  </button>
  <div class="grid grid-cols-2 gap-10 mt-5">
    <div
      class="col-span-1">
      <h1 class="text-white text-7xl font-bold">
        {{ "home.innovation" | translate}}.
      </h1>
      <h1 class="primary-ligth text-7xl font-bold">
        {{ "home.optimization" | translate}}.
      </h1>
      <h1 class="text-white text-7xl font-bold">
        {{ "home.solutions" | translate}}.
      </h1>
      <p class="primary-ligth text-xl max-w-xl mt-5">
        {{ "home.home-description" | translate}}
      </p>
    </div>
    <div class="flex col-span-1 justify-end">
      <img
        src="./assets/images/home.png"
        alt="home-img"
        class="h-80">
    </div>
  </div>
  <div class="flex flex-row mt-5 gap-5">
    <button class="flex flex-row  items-center bg-red-900 text-white px-5 py-2 rounded-md hover:text-red-300">
      Ver proyectos
      <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
        class="lucide lucide-arrow-right w-4 h-4 ml-2">
        <path d="M5 12h14"></path>
        <path d="m12 5 7 7-7 7"></path>
      </svg>
    </button>
    <button class="primary-ligth border border-red-900 px-5 py-2 rounded-md hover:text-red-300">
      Sobre nosotros
    </button>
  </div>
  <div class="flex flex-row justify-center gap-20 mt-5">
    <div class="flex flex-col justify-center">
      <p class="text-center primary-ligth text-4xl font-bold">
        1
      </p>
      <span class="primary-ligth text-sm font-light">
        Proyectos
      </span>
    </div>
    <div class="flex flex-col justify-center">
      <p class="text-center primary-ligth text-4xl font-bold">
        5+
      </p>
      <span class="primary-ligth text-sm font-light">
        Años de experiencia
      </span>
    </div>
    <div class="flex flex-col justify-center">
      <p class="text-center primary-ligth text-4xl font-bold">
        10+
      </p>
      <span class="primary-ligth text-sm font-light">
        Tecnologías
      </span>
    </div>
  </div>
</div>

<!-- <div class="col-12 mb-5">
  <div class="container-img">
    <img src="./assets/images/triangulo.png" class="img-size">
  </div>
  <div class="row">
    <div class="col-12 col-lg-6 mt-5">
    <div class="col-12 col-lg-8 offset-lg-3 center">
        <img src="./assets/images/icon-app.png" class="size-icon-app pe-2" alt="" />
    </div>
    </div>
    <div class="col-12 col-lg-6 mt-5 mb-5 text-center">
      <div class="offset-1 col-10">
        <p class="text-first-section">
          {{ 'home.home-description' | translate }}
        </p>
      </div>
    </div>
  </div>
  <div class="container col-12">
   <app-my-earrings-app></app-my-earrings-app> 
  </div>
</div>
 -->