<div class="scroll">
    <div class="col-12 ms-2 mb-5">
        <h1 class="space-title-application">
            <button
                routerLink="/ProfileDeveloper/{{name}}"
                class="btn vertical-center back-arrow ms-2"
                ><img
                    src="./assets/images/flecha-arriba.png"
                    />
            </button>
            <p class="name_dev_project mt-5 ms-2"> {{ profile.fullName }}</p>
            <p class="project-name me-5"> {{ project }}</p>
        </h1>
    </div>

    <!-- ************  Cambiar este codigo al nuevo componente container-application *********************  -->
    <div>
        <app-container-application></app-container-application>
    </div>

    <!-- ***************** HASTA ESTE PUNTO LLEGA CONTAINER-APPLICATION ************* -->

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div 
            *ngIf="selectedButton === 'movil'"
            class="col-11 ms-5 mt-5 bg-white-transparent card-screens-project p-3 text-white"
            >
            <div class="row screens-movil" >
                
                <div class="col" *ngFor="let screen of selectProject!.screens">
                    <img 
                        class=" mt-4"
                        src="./assets/images/{{screen.url}}.png"
                    />
                </div>
            </div>
            <button
                class="carousel-control-prev"
                (click)="onClickCarouselMovil(true)"
                ><img
                src="./assets/images/icon-arrow.png"
                class="d-block"
                />
            </button>
            <button
                class="carousel-control-next rotate-arrow"
                (click)="onClickCarouselMovil(false)"
                ><img
                src="./assets/images/icon-arrow.png"
                class="d-block"
                />
            </button>
        </div>

        <div
            *ngIf="selectedButton === 'web' || selectedButton === 'desktop'" 
            class="col-11 ms-5 mt-5 bg-white-transparent card-screens-project p-3 text-white"
            >
            <div class="carousel-indicators">
                <button
                    *ngFor="let screen of selectProject?.screens; let i = index"
                    class="radius-selector"
                    data-bs-target="#carouselExampleIndicators"
                    [ngClass]="{'active' : itemActive == i}"
                    aria-current="true"
                    >
                </button>
          </div>
          
          <div class="col-10 ms-5 pb-4 mt-5 pt-5" >
              <div class="row mt-4">
                  <div class="offset-1 col-5 mb-5">
                      <div class="col row ms-1">
                          <div class="card-style">
                               <p class="text-screens">{{getScreen().detail}}</p>
                          </div>
                      </div>
                  </div>
  
                  <div class="col row me-5">
                          <img
                            class="size-item ms-5"
                            src="./assets/images/{{getScreen().url}}.png"
                            />
                  </div>
              </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            (click)="onClickCarouse(true)"
            ><img
                src="./assets/images/icon-arrow.png"
                class="d-block"
                />
          </button>
          <button
            class="carousel-control-next rotate-arrow"
            (click)="onClickCarouse(false)"
            ><img
                src="./assets/images/icon-arrow.png"
                class="d-block"
                />
          </button>
        </div>
    </div>
</div>
