.title{
    color: white;
    flex-grow: 1;
    text-align: left;
    margin-top: 100px;
}
.project-name {
    color: white;
    font-size: 25px;
    text-align: right;
    margin-left: auto;
    
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.boton-movil {
    background: linear-gradient(to bottom, #757575, #757575);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 50%;
    margin-left: 2%;
}

.boton-desktop {
    background: linear-gradient(to bottom, #757575, #757575);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 50%;
    margin-left: 2%;
}
.boton-web {
    background: linear-gradient(to bottom, #757575, #757575);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 2%;
}

.botones-contenedor {
    display: flex;
    align-items: center;
    border-radius: 8px;
    justify-content: space-between;
    background: rgb(68, 0, 13);
}

.icons-tools {
    width: 6vh;
}
.col.row {
    justify-content: space-between;
    width: calc(100% - 1%);
}
.size-box {
    border-radius: 16px;
    height: 15vh;
}

.card-screens-project {
    border-radius: 16px;
    height: 65vh;
    width: calc(100% - 5%);
}

.col {
    width: calc(100% - -3%);
}

.selected {
    background:  linear-gradient(to bottom, #252525, #252525);
}

.icons-container {
    display: flex;
    justify-content: flex-end;
    margin-top: -110px; /* Ajusta este valor según sea necesario */
}

.icon-project{
    width: 12vh;
    height: 12vh;
}

.text-screens{
 color: white;
 font-size: 20px;
}

.size-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; /* Ajusta esta altura según sea necesario */
}

.size-item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.card-style {
    border-radius: 16px;
    width: calc(100% - 6%);
    
    background-color: rgba(255, 255, 255, 0.05);
}

.text-carousel {
    font-size: 45px;
    color: white;
}

.subtitle-carousel {
    font-size: 20px;
    color: white;
}

.radius-selector {
    border-radius: 100%;
    height: 3vh;
    background-color: black;
}
  
.active {
    background-color:  white;
}

.carousel-control-next {
    opacity: 85%;
}

.carousel-control-prev {
    opacity: 85%;
}