.name_dev_project {
    color: white;
    flex-grow: 1;
    text-align: left;
    margin-top: 100px;
}

.project-name {
    color: white;
    font-size: 25px;
    text-align: right;
    margin-left: auto;
}

.space-title-application {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.overflow-x {
    display: inline-flexbox;
    max-width: 100%;
    overflow-x: scroll;
    overflow-y: hidden;
}

.screens-movil{
  display: flex;
  flex-wrap: nowrap;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 55vh; 
}

.card-screens-project {
    border-radius: 16px;
    height: 65vh;
    width: calc(100% - 5%);
}

.text-screens{
 color: white;
 font-size: 20px;
}

.size-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh; 
}

.size-item img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.card-style {
    border-radius: 16px;
    width: calc(100% - 6%);
    
    background-color: rgba(255, 255, 255, 0.05);
}

.text-carousel {
    font-size: 45px;
    color: white;
}

.subtitle-carousel {
    font-size: 20px;
    color: white;
}

.carousel-control-next {
    opacity: 85%;
    right: -100px;
}

.carousel-control-prev {
    opacity: 85%;
    left: -100px;
}