<div class="scroll">
    <div class="col-12 ms-2 mb-5">
        <h1 class="space-title-application">
            <button
                routerLink="/ProfileDeveloper/{{name}}"
                class="btn vertical-center back-arrow ms-2"
                ><img
                    src="./assets/images/flecha-arriba.png"
                    />
            </button>
            <p class="name_dev_project mt-5 ms-2"> {{ profile.fullName }}</p>
            <p class="project-name me-5"> {{ project }}</p>
        </h1>
    </div>

    <div>
        <app-container-application></app-container-application>
    </div>

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <app-container-movil></app-container-movil>
        <app-container-web-desktop></app-container-web-desktop>    
    </div>
</div>
