.title{
    color: white;
    flex-grow: 1;
    text-align: left;
    margin-top: 100px;
}
.project-name {
    color: white;
    font-size: 25px;
    text-align: right;
    margin-left: auto;
    
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
}

.boton-movil {
    background: linear-gradient(to bottom, #757575, #757575);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 50%;
    margin-left: 2%;
}

.boton-desktop {
    background: linear-gradient(to bottom, #757575, #757575);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
    width: 50%;
    margin-left: 2%;
}
.boton-web {
    background: linear-gradient(to bottom, #757575, #757575);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    width: 50%;
    margin-right: 2%;
}

.botones-contenedor {
    display: flex;
    align-items: center;
    border-radius: 5px;
    justify-content: space-between;
    background: rgb(68, 0, 13);
}
.boton-movil:active,
.boton-web:active,
.boton-desktop:active {
    background: linear-gradient(to bottom, #252525, #252525);
}