.size-box {
    border-radius: 16px;
    height: auto;
}

.text-name {
    color: white;
    font-size: 25px;
}

.img-style {
    width: 25vh;
    height: 25vh;
    border-radius: 16px;
}

.icons-tools{
    width: 4vh;
}

.icons-tools-three {
    width: 2vh;
}

.background-card-detail {
    background-color: #d9d9d93d;
    border-radius: 16px;
}

.size-text-introduction {
    font-size: 22px;
}