<div class="scroll">
    <div class="col-12 m-3 text-center mb-5">
        <h1>
            <button 
                routerLink="/Home" 
                class="btn vertical-center back-arrow ms-2">
                <img src="./assets/images/flecha-arriba.png"/>
            </button>
            <p class="title mt-5 ms-2">Politicas de privacidad</p>
        </h1>
        <h3 class="text-privacy mt-3">
            En Salwort Devs, nos comprometemos a proteger y respetar su privacidad. Esta política de privacidad explica cómo recopilamos, 
            usamos, divulgamos y protegemos su información personal cuando visita nuestro sitio web y utiliza nuestros servicios.
        </h3>

        <h2 class="text-li mt-3">
            <li>
                1. Información que recopilamos
            </li>
        </h2>

        <h5 class="text-privacy mt-4">
            Podemos recopilar y procesar los siguientes datos personales:
            <br>
            Información que usted nos proporciona: Nombre, dirección de correo electrónico, número de teléfono y 
            cualquier otra información que nos envíe a través de formularios en nuestro sitio web.
            <br>
            Información que recopilamos automáticamente: Información sobre su visita, incluidos los datos de tráfico, 
            los datos de ubicación, los weblogs y otros datos de comunicación, 
            <br>
            así como los recursos a los que accede.
            <br>
            Cookies y tecnologías similares:
            <br>
             Utilizamos cookies para recopilar información sobre su actividad en línea en nuestro sitio web. 
            Puede controlar el uso de cookies a través de la configuración de su navegador.
        </h5>

        <h2 class="text-li mt-4">
            <li>
                2. Uso de su información
            </li>
        </h2>

        <h5 class="text-privacy mt-4">
                  
            Utilizamos la información que recopilamos para los siguientes fines:
            <br>
            Proporcionar y gestionar nuestros servicios.
            Personalizar su experiencia en nuestro sitio web.
            <br>
            Comunicarnos con usted, incluyendo el envío de notificaciones y actualizaciones importantes.
            <br>
            Mejorar nuestro sitio web y servicios mediante el análisis de cómo los usuarios interactúan con ellos.
            Cumplir con nuestras obligaciones legales y resolver disputas.
        </h5>

        <h2 class="text-li mt-4">
            <li>
                3. Divulgación de su información
            </li>
        </h2>

        <h5 class="text-privacy mt-4">
            Podemos compartir su información personal con terceros en las siguientes circunstancias:
            <br>
            Con proveedores de servicios que nos ayudan a operar nuestro negocio, como servicios de alojamiento web y análisis de datos.
            <br>
            Si estamos obligados a divulgar su información para cumplir con una obligación legal o para proteger nuestros derechos, propiedad o seguridad.
            <br>
            En caso de una fusión, adquisición o venta de activos, sus datos pueden ser transferidos como parte de la transacción.
        </h5>

        <h2 class="text-li mt-4">
            <li>
                4. Seguridad de su información
            </li>
        </h2>

        <h5 class="text-privacy mt-4">
            Tomamos medidas razonables para proteger su información personal contra el acceso no autorizado, 
            la alteración, la divulgación o la destrucción. 
            <br>
            Sin embargo, ninguna transmisión de datos a través de Internet o 
            almacenamiento electrónico es completamente segura. 
            <br>
            Por lo tanto, no podemos garantizar la seguridad absoluta de su información.

        </h5>

        <h2 class="text-li mt-4">
            <li>
                5. Retención de datos
            </li>
        </h2>

        <h5 class="text-privacy mt-4">
            Retenemos su información personal solo durante el tiempo necesario 
            <br>
            para cumplir con los fines para los que fue recopilada, incluidos los requisitos legales, contables o de informes.
        </h5>

        <h2 class="text-li mt-4">
            <li>
                6. Sus derechos
            </li>
        </h2>

        <h5 class="text-privacy mt-4">
            Tiene derecho a acceder, corregir, actualizar o eliminar su información personal.
            <br>
            También puede tener derecho a restringir o oponerse al procesamiento de su información personal, 
            así como a solicitar la portabilidad de sus datos. 
            <br>
            Para ejercer estos derechos, comuníquese con nosotros a través de los detalles de contacto proporcionados a continuación.
        </h5>

        <h2 class="text-li mt-4">
            <li>
                7. Cambios a esta política de privacidad
            </li>
        </h2>

        <h5 class="text-privacy mt-4">
            Podemos actualizar esta política de privacidad de vez en cuando.
            <br>
             Publicaremos cualquier cambio en esta página y, si los cambios son significativos,
             le notificaremos por correo electrónico o mediante un aviso en nuestro sitio web.
        </h5>
    </div>
</div>
