:root {
    --BlueDark: #0A0F1A;
    --Black: #080A12;
    --TextSecondary: #8892b0;
    --CyanDark: #0D405F;
    --PurpleDark: #322B67;
    --Cyan: #00B9D9;
    --BlueBox: #10324F;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--BlueDark);
}

::-webkit-scrollbar-thumb {
    background-color: var(--CyanDark);
    border-radius: 999px;
}

/* hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #22d3ee;
}

.bg-blue-dark {
    background-color: var(--BlueDark);
}

.bg-sidebar {
    background-color: var(--Black) !important;
}

.column-text {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
}

.secondary-text {
    color: var(--TextSecondary) !important;
}

.jump:hover {
    animation: jump 0.3s ease-out forwards;
    transition: all 0.3s ease-in-out;
}

.bg-blue-gradient {
    background-image: linear-gradient(300deg, #006DFC, #00C6F4);
}

.bg-type-project {
    background-image: linear-gradient(90deg, #11364B, #2D2051);
}

.text-cyan {
    color: var(--Cyan);
}

.fill-cyan {
    fill: var(--Cyan);
}

.bg-cyan {
    background-color: oklch(10% 0.143 215.221);
    border: 1px solid oklch(71.5% 0.143 215.221);
}

.text-title-gray {
    color: var(--TextSecondary);
}

.text-title-gradient {
    background: linear-gradient(90deg, #00CEF4, #AA49FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.shadow-gradient {
    position: relative;
    transform-style: preserve-3d;
    border-radius: 0.5rem;
}

.shadow-gradient::before {
    content: "";
    position: absolute;
    inset: -3px;
    background: conic-gradient(from 360deg,
            #AA49FF,
            #7A6CFF,
            #3F9CFF,
            #00CEF4,
            #3F9CFF,
            #7A6CFF,
            #AA49FF);
    filter: blur(7px);
    transform: translate3d(0px, 0px, -1px);
    border-radius: inherit;
    pointer-events: none;
}

.bg-box {
    background-color: #112240;
}

.box-purple {
    border: 1.5px solid var(--PurpleDark) !important;
}

.box-cyan {
    border: 1.5px solid var(--CyanDark) !important;
}

.border-gray {
    border: .50px solid var(--TextSecondary);
}

.bg-separator {
    background-image: linear-gradient(135deg, var(--CyanDark), var(--BlueDark));
}

.bg-box-blue {
    background-color: var(--BlueBox);
}

.jum-hover {
    transition:
        transform 0.4s cubic-bezier(.34, 1.56, .64, 1) 0.1s,
        box-shadow 0.4s ease 0.1s;
    will-change: transform;
}

.cyan-hover:hover {
    color: var(--Cyan);
}

.jum-hover:hover {
    transform: translateY(-10px) scale(1.08);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.25);
}

.border-cyan-hover {
    transition:
        transform 0.4s cubic-bezier(.34, 1.56, .64, 1) 0.1s,
        box-shadow 0.4s ease 0.1s;
    will-change: transform;
}

.border-cyan-hover:hover {
    border-color: var(--Cyan);
    box-shadow: 0 1px 3px var(--Cyan);
}

.border-cyan-hover:hover img {
    transform: rotate(10deg);
}

.blinking {
    animation: animationBlinking 1.8s ease-in-out infinite;
}

.border-carrousel {
    border: 3px solid var(--Cyan);
}

@keyframes animationBlinking {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.4;
    }

    100% {
        opacity: 1;
    }
}

@keyframes jump {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-5px);
    }
}