.img-style {
    width: 50%; /* Ajusta este valor para cambiar el tamaño de la imagen */
    height: 50%; /* Mantén la proporción */
    border-radius: 16px;
    display: block;
    margin: 0 auto; 
}
.size-box {
    border-radius: 16px;
    height: 50vh; /* Mantén el tamaño del contenedor fijo */
}
.text-title {
    color: white;
    font-size: 45px;
}
.text-description {
    color: white;
    font-size: 25px;
    
}
.style-overFlow-y {
    overflow-y: auto;
    overflow-x: hidden;
}
.text-detail {
    color: white;
    font-size: 20px;
}
.text-clicked {
    color: white;
    font-size: 30px;
}
.rotate-left {
    transform: rotate(-50deg);
    transform-origin: left top;
}
.no-rotation {
    transform: none;
    transform-origin: initial;
}
