.img-style {
    width: 25vh;
    height: 25vh;
    border-radius: 16px;
}
.size-box {
    border-radius: 16px;
    height: 60vh;
}
.text-title {
    color: white;
    font-size: 35px;
}
.text-description {
    color: white;
    font-size: 20px;
}