.img-style {
    border-radius: 16px;
    display: block;
    margin: 0 auto;
}

.size-box {
    border-radius: 16px;
    height: 50vh;
}

.text-title {
    color: white;
    font-size: 45px;
}

.text-description {
    color: white;
    font-size: 25px;

}

.style-overFlow-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.text-detail {
    color: white;
    font-size: 20px;
}

.text-clicked {
    color: white;
    font-size: 30px;
}

.rotate-left {
    transform-origin: left top;
}

.no-rotation {
    transform: none;
    transform-origin: initial;
}

.transition-height {
    transition: all 0.5s ease;
}

.size-box.expanded {
    height: auto;
}

.size-box.collapsed {
    height: 100%;
}

.image-style.expanded-img {
    width: 30%;
    height: auto;
    transition: width 0.5s ease, height 0.5s ease;
}

.image-style.collapsed-img {
    width: 45%;
    height: 50%;
    transition: width 0.5s ease, height 0.5s ease;
}