
<div class="container center mt-3" style="height: 60vh;">
    <div class="col-8 center">
        <img
            src="./assets/images/icon-app.png"
            class="w-25 border-color">
    </div>
</div>
<div
    class="container center mt-3"
    id="container-btn">
    <div
        class="columns"
        [ngClass]="{
            'h-80 aling-bottom': showAnySection
        }">
        <div
            class="item bg-white-transparent size-box pointer"
            [ngClass]="{
                'item-2': showAnySection && currentContainer != 'mission',
                'top text-center pt-5 bg-dark': currentContainer == 'mission',
                'item-3': !showAnySection,
            }"
            (click)="showContainer($event, 'mission')">
            <h2>Misión</h2>
            <p
                class="text-style mt-3"
                [class.show-text]="(currentContainer == 'mission')"
                [hidden]="currentContainer != 'mission'">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, amet repudiandae expedita temporibus minus consequuntur ullam corrupti ad numquam! Ea voluptatum reprehenderit distinctio hic, laboriosam veritatis repudiandae magnam quis in.
            </p>
        </div>
        <div
            class="item bg-white-transparent size-box pointer"
            [ngClass]="{
                'item-2': showAnySection && currentContainer != 'vission',
                'top text-center pt-5 bg-dark': currentContainer == 'vission',
                'item-3': !showAnySection,
            }"
            (click)="showContainer($event, 'vission')">
            <h2>Visión</h2>
            <p
                class="text-style mt-3"
                [class.show-text]="(currentContainer == 'vission')"
                [hidden]="currentContainer != 'vission'">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, amet repudiandae expedita temporibus minus consequuntur ullam corrupti ad numquam! Ea voluptatum reprehenderit distinctio hic, laboriosam veritatis repudiandae magnam quis in.
            </p>
        </div>
        <div
            class="item bg-white-transparent size-box pointer"
            [ngClass]="{
                'item-2': showAnySection && currentContainer != 'objetives',
                'top text-center pt-5 bg-dark': currentContainer == 'objetives',
                'item-3': !showAnySection,
            }"
            (click)="showContainer($event, 'objetives')">
            <h2>Objetivos</h2>
            <p
                class="text-style mt-3"
                [class.show-text]="(currentContainer == 'objetives')"
                [hidden]="currentContainer != 'objetives'">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint, amet repudiandae expedita temporibus minus consequuntur ullam corrupti ad numquam! Ea voluptatum reprehenderit distinctio hic, laboriosam veritatis repudiandae magnam quis in.
            </p>
        </div>
    </div>
</div> 