.border-color {
    border-radius: 16px;
}

.size-box {
    height: 15vh;
    border-radius: 16px;
}

.scroll {
    max-height: 74vh;
    overflow-y: auto;
}

h2 {
    color: var(--TextColor);
}

.bg-dark {
    background-color: #252525;
    border-radius: 16px !important;
}

.text-body {
    font-size: 1.2vw;
    font-weight: 600;
    color: var(--TextColor) !important;
}

.selected {
    display: none;
   /*  overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 1s ease; */
}

/* .selected::before {
    content: '';
    position: absolute;
    top: -2px;
    bottom: -2px;
    left: -2px;
    right: -2px;
    z-index: -1;
    border: 3px solid var(--TextColor);
    filter: blur(10px);
} */

.dinamic-box {
    border-radius: 5px;
}

.hidden-box {
    display: none !important;
}

.show-box {
    animation: showAnimation 0.3s ease-in;
}

.animation-box {
    transition: background-color 0.3s ease;
}

.selected {
    display: block;
}

.size-box {
    transition: all 0.5s ease-in-out;
}

.move-up {
    transform: translateY(-200px); /* Ajusta según sea necesario */
    transition: transform 0.5s ease-in-out;
}


@keyframes showAnimation {
    0% {
        transform: translateY(-15px);
        opacity: 0;
        height: 0%;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
        height: 100%;
    }
}