
<div class="scroll">
    <div class="container center mt-3">
        <div class="col-8 center">
            <img
                src="./assets/images/icon-app.png"
                class="w-25 border-color bg-white-transparent">
        </div>
    </div>
    <div class="container center mt-3">
        <div
            class="col-11 center bg-white-transparent dinamic-box"
            [ngClass]="{
                'show-box': currentContainer == 'mission',
                'hidden-box': currentContainer != 'mission'
            }">
            <div class="col-7 text-center text-body m-3">
                Ser reconocidos como un equipo de jóvenes innovadores que transforma ideas en soluciones tecnológicas efectivas, mejorando la calidad de vida de las personas y potenciando el desarrollo de nuestra comunidad global.
            </div>
        </div>
        <div
            class="col-11 center bg-white-transparent dinamic-box"
            [ngClass]="{
                'show-box': currentContainer == 'vission',
                'hidden-box': currentContainer != 'vission'
            }">
            <div class="col-7 text-center text-body m-3">
                Como un grupo de jóvenes apasionados por la tecnología, aspiramos a liderar el cambio mediante la creación de herramientas innovadoras que empoderen a las personas y transformen ideas en soluciones prácticas, impulsando un futuro más conectado y eficiente.
            </div>
        </div>
        <div
            class="col-11 center bg-white-transparent dinamic-box"
            [ngClass]="{
                'show-box': currentContainer == 'objetives',
                'hidden-box': currentContainer != 'objetives'
            }">
            <div class="col-7 text-center text-body m-3">
                Nuestro objetivo es desarrollar soluciones innovadoras que aborden problemas reales y satisfagan las necesidades emergentes de nuestros usuarios, mientras fomentamos el crecimiento personal y profesional de nuestro equipo mediante oportunidades de aprendizaje continuo. Buscamos impulsar la colaboración comunitaria a través de alianzas con otras iniciativas y organizaciones, priorizando siempre la sostenibilidad al diseñar productos eficientes y respetuosos con el medio ambiente. Además, nos comprometemos a generar un impacto social positivo, creando herramientas que mejoren la vida diaria y contribuyan al bienestar general y a la equidad social.
            </div>
        </div>
    </div>
    <div class="container center mt-3">
        <div class="row col-11">
            <div
                class="col bg-white-transparent me-2 size-box center pointer"
                [ngClass]="{'selected': currentContainer == 'mission'}"
                (click)="showContainer('mission')">
                <h2>Misión</h2>
            </div>
            <div
                class="col bg-white-transparent me-2 size-box center pointer"
                [ngClass]="{'selected': currentContainer == 'vission'}"

                (click)="showContainer('vission')">
                <h2>Visión</h2>
            </div>
            <div
                class="col bg-white-transparent size-box center pointer mb-5"
                [ngClass]="{'selected': currentContainer == 'objetives'}"
                (click)="showContainer('objetives')">
                <h2>Objetivos</h2>
            </div>
        </div>
    </div>
</div>