

.border-color {
    border-radius: 16px;
}

.size-box {
    height: 15vh;
    border-radius: 16px;
}

.img-size {
    width: 30rem;
    height: 30rem;
}

h1 {
    color: var(--TextColor);
}

.bg-dark {
    background-color: #252525;
    border-radius: 16px !important;
}

/* .columns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    text-align: left;
    position: relative;
} */

/* .item {
    transition: all 0.5s ease-in-out;
    position: relative;
} */

.item-2 {
    width: calc(50% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-3 {
    width: calc(33.33% - 10px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.w-30 {
    width: 30% !important;
}

/* .h-80 {
    position: relative;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
} */

/* .top {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 22rem;
    z-index: 10;
    transition: all 0.5s ease-in-out;
} */

.text-style {
    font-size: 24px;
    font-weight: 600;
    color: var(--TextColor);
}

/* .show-text {
    animation: showText 1s ease-in-out;
} */

@keyframes showText {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    50% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

@media(min-width : 300px) and (max-width : 699px) {
   .h-80 {
        height: 180vh !important;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
}

/* Ajustamos height y transiciones */
.h-80 {
    position: relative;
    min-height: 35rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    transition: min-height 0.5s ease-in-out;
}

@media(max-width: 699px) {
    .h-80 {
        min-height:  60vh;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        height: auto !important;
    }
}

.top {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 22rem;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

.show-text {
    animation: showText 0.5s ease forwards;
}

@keyframes showText {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.columns {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
    text-align: left;
    position: relative;
    transition: all 0.5s ease-in-out;
}

@media(max-width: 699px) {
    .text-style {
        font-size: 18px;
    }
    
    .top {
        min-height: fit-content;
        max-height: 34rem;
    }

    .img-size {
        width: 20rem;
        height: 20rem;
    }

    .columns {
        flex-direction: column;
    }
    .item-2, .item-3 {
        width: 100% !important;
    }
}

.item {
    transition: all 0.5s ease-in-out;
}