:root {
    --DarkPurple: #12111C;
    --Purple: #2D2844;
    --PurpleLight: #8373F7;
    --Gray: #A8A3C0;
    --BoxColor: #1B182B;

    /* SPECIAL */
    --BoxSkills: #171421;
    --BorderBtn: #3d3660;
    --BoxSalient: #262240;
    --ItemColor: #3A3266;
    --ButtonSwitch: #1E1A2E;
}

button {
    cursor: pointer;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Oculta scrollbar en Firefox */
.no-scrollbar {
  scrollbar-width: none;
}

.bg-dark-purple {
    background-color: var(--DarkPurple);
}

.bg-purple {
    background-color: var(--Purple);
}

.bg-purple-light {
    background-color: var(--PurpleLight) !important;
}

.purple-light-color {
    color: var(--PurpleLight);
}

.border-purple-light {
    border: 1px solid var(--PurpleLight);
}

.border-purple {
    border: 0.5px solid var(--Purple);
}

.box-skills {
    background-color: var(--BoxSkills);
}

.text-secondary {
    color: var(--Gray);
}

.box-salient {
    background-color: var(--BoxSalient);
}

.bg-item {
    background-color: var(--ItemColor);
}

.box-content {
    background-color: var(--BoxColor);
}

.border-btn {
    border: 1px solid var(--BorderBtn)
}

.btn-switch {
    background-color: var(--ButtonSwitch);
}