.carousel-control-next {
    opacity: 85%;
    margin-top: -30vh;
}

.carousel-control-prev {
    opacity: 85%;
    margin-top: -30vh;
}

.card-screens-project {
    border-radius: 16px;
    height: 65vh;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.image-carousel-android {
    width: auto;
    height: 55vh;
    transition: all 0.3s ease-out;
}

.image-carousel-android:hover {
    height: 61vh;
    transition: all 0.3s ease-in;
}

/* borrar */
.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel-images {
    display: flex;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
}

.image-wrapper {
    flex: 0 0 auto;
    width: 20%;
    text-align: center;
}

.carousel-image {
    width: auto;
    height: 55vh;
}

.carousel-control-prev,
.carousel-control-next {
    position: absolute;
    top: 50%;
    background: none;
    border: none;
    cursor: pointer;
}

@media(min-width : 300px) and (max-width : 699px) {
    .image-wrapper {
        flex: auto;
        width: 90% !important;
    }

    .img-btn {
        width: 10vw;
    }

    .carousel-control-prev {
        left: -5vw;
    }

    .carousel-control-next {
        right: -5vw;
    }
}

@media(min-width : 700px) and (max-width : 1200px) {

    .image-wrapper {
        flex: auto;
        width: 50%;
    }

    .carousel-control-prev {
        left: -5vw;
    }

    .carousel-control-next {
        right: -5vw;
    }
}

@media(min-width : 1201px) {
    .carousel-control-prev {
        left: -7vw;
    }

    .carousel-control-next {
        right: -7vw;
    }
}
