<div
    *ngIf="selectedButton === 'movil'"
     class="col-11 mt-5 bg-white-transparent card-screens-project p-3 text-white"
     style="position: relative;">

    <!-- CONTAINER IMG -->
    <div class="carousel-container">
        <div class="carousel-images">
            <div class="image-wrapper" *ngFor="let screen of getMobileScreens()">
                <img 
                    [src]="'./assets/images/' + screen.url + '.png'"
                    alt="Imagen carrusel"
                    class="carousel-image image-carousel-android mt-4 me-1"
                />
            </div>
        </div>
    </div>

    <!-- BUTTON BACK -->
    <button 
        class="carousel-control-prev"
        (click)="onClickCarouselMovil(true)"
        >
        <img 
            src="./assets/images/icon-arrow.png" 
            class="d-block img-btn" 
            alt="Flecha izquierda"
        />
    </button>

    <!-- BUTTON NEXT -->
    <button 
        class="carousel-control-next rotate-arrow"
        (click)="onClickCarouselMovil(false)"
        >
        <img 
            src="./assets/images/icon-arrow.png" 
            class="d-block img-btn" 
            alt="Flecha derecha"
        />
    </button>
</div>
