.img-profile {
    width:80%;
}

.box-radius {
    border-radius: 16px;
}

.icon-radius {
    border-radius: 5px;
    width: 5vw;
}

.icons-tools {
    width: 6vw;
}

.icons-tools-company {
    width: 4vw;
}

.box-icons-tools {
    display: flex;
    justify-content: center;
    /* Centra las imágenes horizontalmente */
    align-items: center;
    /* Centra las imágenes verticalmente */
    flex-wrap: wrap;
    /* Permite que las imágenes se envuelvan si hay muchas */
}

.desc-text {
    color: white;
    font-size: 18px;
}

.size-box {
    border-radius: 16px;
}

.project-card {
    border-radius: 16px;
    background-color: #252525;
    color: white;
}

.icons-tools-three {
    width: 4vw;
}

.more-about {
    background-color: red;
    margin-top: -1vh;
    border-radius: 16px;
}

.font-size-project-name {
    font-size: 1.7rem;
}

.center-card {
    margin-top: 10%! important;
}


@media(min-width : 300px) and (max-width : 699px) {
    .icons-tools {
        width: 15vw !important;
    }

    .icon-radius {
        border-radius: 5px;
        width: 5vw !important;
    }

    .img-profile {
        width: 70%;
    }

    .icons-tools-company {
        width: 8vw;
    }
    
    .font-size-project-name {
        font-size: 1.3rem;
    }
}

@media(min-width : 700px) and (max-width : 1200px) {
    .icons-tools {
        width: 9vw !important;
    }

    .icon-radius {
        border-radius: 5px;
        width: 2vw !important;
    }
}
    

@media(min-width : 1201px){
    .icons-tools {
        width: 5vw !important;
    }

    .icon-radius {
        border-radius: 5px;
        width: 3vw !important;
    }
}