<div class="scroll ms-4 mt-2">
    <div class="col-12 text-center mb-5">
        <div class="row">
           <div class="col-3 col-sm-3 col-md-1 col-lg-1 col-xl-1">
                <button routerLink="/Developers" class="btn vertical-center back-arrow ms-2">
                    <img src="./assets/images/flecha-arriba.png" />
                </button>
            </div>
            <div class="col">
                <h1 class="title text-start">
                    {{ profile.fullName }}
                </h1>
            </div>
        </div>
        
        <div class="col-12">
            <div class="row mt-3 justify-content-center">
                <div class="col-xs-11 col-md-6 me-3">
                    <div class="col-xs-1 col-md-12 bg-white-transparent p-3 box-radius me-3">
                        <img src="./assets/images/devs/{{profile.imgName}}" class="img-profile box-radius">
                        <div class="row mt-3 mb-2">
                            <p class="col-xs-12 col-md-9 mt-1 text-start text-body">
                                {{profile.email}}
                            </p>
                            <div class="col p-0">
                                <div class="row">
                                    <div class="col">
                                        <a [href]="profile.linkedin" target="_blank">
                                            <img src="./assets/images/linkdn-image.png" class="w-100 icon-radius">
                                        </a>

                                    </div>
                                    <div class="col">
                                        <a [href]="profile.gmail">
                                            <img src="./assets/images/gmail-image.webp" class="icon-radius"
                                                style="height: auto; width: 100%;">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col me-3">
                    <div class="row box-icons-tools">
                        <h1 class="title mb-3">{{ profile.title }}</h1>
                        <img *ngFor="let tool of profile.tools" class="icons-tools"
                            src="./assets/images/tools/{{tool}}.png" [alt]="tool">
                    </div>
                    <div class="row mt-3 p-3">
                        <p class="desc-text text-start">
                            {{profile.desc | translate}}
                        </p>
                    </div>
                </div>
                <div class="col-12">
                    <h1 class="title mt-3 text-white">
                        Proyectos relacionados
                    </h1>

                    <div class="row justify-content-center me-5 ms-3">
                        <div class="me-2 col-xs-12 col-md-5 bg-white-transparent size-box p-3 text-white mb-5"
                            *ngFor="let company of profile.companies">
                            <h3 class="text-start">{{company.name}}</h3>
                            <div class="row box-icons-tools">
                                <div *ngFor="let project of company.projects" class="col-11 project-card m-3 "
                                    (click)="redirectToPage(project, company)">
                                    <div class="row mt-3 mb-3">
                                        <div class="col-5">
                                            <img *ngFor="let tool of project.tools"
                                                class="icons-tools-company"
                                                src="./assets/images/tools/{{tool}}.png"
                                                />
                                        </div>
                                        <div class="col-7">
                                            <div class="row">
                                                <div class="col-12">
                                                    <div class="col-8 offset-4 mb-1">
                                                        <p class="no-margin more-about">
                                                            {{ "random-text.knowmore" | translate}}
                                                        </p>
                                                    </div>
                                                    <div class="col-12 center-card">
                                                        <p class="no-margin font-size-project-name text-end">{{project.name}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>