.text-first-section{
    font-size: 25px;
    color: white;
    font-family: 'Roboto';
   
}

.size-icon-app {
    height: 25vh;
    width: 25vh;
}

.backgrounHome {
    background-image: url('../../../assets/images/triangulo.png');
    background-repeat: no-repeat;
}

.container-img {
    position: absolute;
    top: 7vh;
    left: 0px;
    z-index: -1;
}

.img-size {
    height: 40vh;
}