<div class="col-12">
    <div class="row">
        <div class="col-8 mt-5 d-flex vertical-center">
            <img src="./assets/images/icon-app.png" class="w-25 pe-2" alt="" />
         </div>
         <div class="col-3 mt-5">
             <p class="text-first-section">En Saltwort somos una
                empresa joven e inovadora.</p>
             <p class="text-first-section">Comprometidos con la investigación
                optimización y sistematizar soluciones.</p>
         </div>
    </div>
</div>