

<footer id="footer" class="fixed-bottom bg-footer">
    <div class="col-12 footer navbar-fixed-bottom pt-2 pb-2 ps-4 mt-1 ">
        <div class="row">
            <div class="col-7">
                <h3>Salwort Devs</h3>
                <div class="col-12 ps-3">
                    <p class="footer-text">
                        Bienvenido a Saltwort Devs. Nos comprometemos a proteger y respetar su privacidad. Los datos proporcionados por los usuarios o contactos son altamente resguardados por nuestras politicas de privacidad rigorosas. Para conocer nuestras politicas de privacidad, <a href="">consulta el siguiente enlace.</a>
                    </p>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="row text-end pe-5">
                    <h4>
                        Contactanos 
                    </h4>
                    <div class="col-12 section-imgs">
                        <img src="./assets/images/icon-app.png" class="icon-contact pe-2" alt="" />
                        <img src="./assets/images/linkdn-image.png" class="icon-contact pe-2" alt="" />
                        <img src="./assets/images/gmail-image.webp" class="icon-contact" alt="" />
                    </div>
                    <p class="footer-text">{{email}}</p>
                </div>
            </div>
        </div>
    </div>
  </footer>