
<div id="footer" class=" bg-footer">
    <div class="col-12 pt-2 pb-2 ps-4 mt-1 ">
        <div class="row">
            <div class="col-7">
                <h3>Salwort Devs</h3>
                <div class="col-12 ps-3">
                    <p class="footer-text">
                        Bienvenido a Saltwort Devs. Nos comprometemos a proteger y respetar su privacidad. Los datos proporcionados por los usuarios o contactos son altamente resguardados por nuestras politicas de privacidad rigorosas. Para conocer nuestras politicas de privacidad,
                         <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">consulta el siguiente enlace.</a>
                    </p>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="row text-end pe-5">
                    <h4>
                        Contactanos 
                    </h4>
                    <div class="col-12 section-imgs">
                        <img src="./assets/images/icon-app.png" class="icon-contact pe-2" alt="" />
                        <img src="./assets/images/linkdn-image.png" class="icon-contact pe-2" alt="" />
                        <img src="./assets/images/gmail-image.webp" class="icon-contact" alt="" />
                    </div>
                    <p class="footer-text">{{email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog ">
      <div class="modal-content  modal-style">
        <div class="modal-header">
          <h1 class="modal-text-color fs-5" id="exampleModalLabel">Politicas de privacidad</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="color: white;">

            En Salwort Devs, nos comprometemos a proteger y respetar su privacidad. Esta política de privacidad explica cómo recopilamos, usamos, divulgamos y protegemos su información personal cuando visita nuestro sitio web y utiliza nuestros servicios.
            <br><br>
            <li>1. Información que recopilamos</li>
            
            Podemos recopilar y procesar los siguientes datos personales:
            
            Información que usted nos proporciona: Nombre, dirección de correo electrónico, número de teléfono y cualquier otra información que nos envíe a través de formularios en nuestro sitio web.
            Información que recopilamos automáticamente: Información sobre su visita, incluidos los datos de tráfico, los datos de ubicación, los weblogs y otros datos de comunicación, así como los recursos a los que accede.
            Cookies y tecnologías similares: Utilizamos cookies para recopilar información sobre su actividad en línea en nuestro sitio web. Puede controlar el uso de cookies a través de la configuración de su navegador.
            <br><br>
            <li>2. Uso de su información</li>
            
            Utilizamos la información que recopilamos para los siguientes fines:
            
            Proporcionar y gestionar nuestros servicios.
            Personalizar su experiencia en nuestro sitio web.
            Comunicarnos con usted, incluyendo el envío de notificaciones y actualizaciones importantes.
            Mejorar nuestro sitio web y servicios mediante el análisis de cómo los usuarios interactúan con ellos.
            Cumplir con nuestras obligaciones legales y resolver disputas.

            <br><br>
            <li>3. Divulgación de su información</li>
            
            Podemos compartir su información personal con terceros en las siguientes circunstancias:
            
            Con proveedores de servicios que nos ayudan a operar nuestro negocio, como servicios de alojamiento web y análisis de datos.
            Si estamos obligados a divulgar su información para cumplir con una obligación legal o para proteger nuestros derechos, propiedad o seguridad.
            En caso de una fusión, adquisición o venta de activos, sus datos pueden ser transferidos como parte de la transacción.
            <br><br>
            <li>4. Seguridad de su información</li>
            
            Tomamos medidas razonables para proteger su información personal contra el acceso no autorizado, la alteración, la divulgación o la destrucción. Sin embargo, ninguna transmisión de datos a través de Internet o almacenamiento electrónico es completamente segura. Por lo tanto, no podemos garantizar la seguridad absoluta de su información.
            <br><br>
            <li>5. Retención de datos</li>
            
            Retenemos su información personal solo durante el tiempo necesario para cumplir con los fines para los que fue recopilada, incluidos los requisitos legales, contables o de informes.
            <br><br>
            <li>6. Sus derechos</li>
            
            Tiene derecho a acceder, corregir, actualizar o eliminar su información personal. También puede tener derecho a restringir o oponerse al procesamiento de su información personal, así como a solicitar la portabilidad de sus datos. Para ejercer estos derechos, comuníquese con nosotros a través de los detalles de contacto proporcionados a continuación.
            <br><br>
            <li>7. Cambios a esta política de privacidad</li>
            
            Podemos actualizar esta política de privacidad de vez en cuando. Publicaremos cualquier cambio en esta página y, si los cambios son significativos, le notificaremos por correo electrónico o mediante un aviso en nuestro sitio web.
            <br><br>
            <li>8. Contacto</li>
            
            Si tiene alguna pregunta o inquietud sobre esta política de privacidad o nuestras prácticas de privacidad, comuníquese con nosotros a:
        
            Salwort Devs
            {{email}}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn modal-button" data-bs-dismiss="modal">Close</button>
        
        </div>
      </div>
    </div>
  </div>