
<div id="footer" class=" bg-footer">
    <div class="col-12 pt-2 pb-2 mt-1 ">
        <div class="row no-space">
            <div class="col-12 col-md-7 col-lg-7 col-xl-9">
                <h3>Salwort Devs</h3>
                <div class="col-12">
                    <p class="footer-text">
                        Bienvenido a Saltwort Devs. Nos comprometemos a proteger y respetar su privacidad. Los datos proporcionados por los usuarios o contactos son altamente resguardados por nuestras politicas de privacidad rigorosas. Para conocer nuestras politicas de privacidad,
                         <a href="" routerLink="PrivacyPolicy">consulta el siguiente enlace.</a>
                    </p>
                </div>
            </div>
            <div class="col d-flex justify-content-end">
                <div class="row text-aling">
                    <h4>
                        Contactanos 
                    </h4>
                    <div class="col-12 section-imgs">
                        <img src="./assets/images/icon-app.png" class="icon-contact pe-2" alt="" />
                        <a 
                            href="https://www.linkedin.com/in/edgar-samuel-guerrero-5a9471214/"
                            >
                            <img 
                                src="./assets/images/linkdn-image.png" 
                                class="icon-contact pe-2" 
                                />
                        </a>
                        
                       <a 
                            href="mailto:saltwortdevs@gmail.com"
                            >
                            <img src="./assets/images/gmail-image.webp" 
                                 class="icon-contact" 
                                 alt="" />
                       </a>
                        
                    </div>
                    <p class="footer-text" >{{email}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
