.bg-footer {
    background-color: #252525;
    color: white;
}

.footer-text {
    font-size: 18px;
}

.icon-contact {
    height: 4vh;
    border-radius: 8px;
    margin-right: 5px;
}

.section-imgs {
    margin-top: -1vh;
}

.text-aling{
    text-align: right;
}

@media(min-width : 300px) and (max-width : 699px) {
    .icon-contact {
        height: 6vh;
        border-radius: 8px;
        margin-right: 5px;
    }

    .text-aling {
        text-align: center;
    }
}