<div class="row bg-navbar no-space pt-2 pb-2">
    <div class="col-2 ms-2">
        <div class="row">
            <p class="text-white app-text no-space">
                <img
                    src="./assets/images/icon-app.png"
                    class="size-img-app"
                    />
                Salwort Devs
            </p>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="offset-1 col-1 no-padding vertical-center">
                <p
                    class="text-navbar no-space"
                    routerLink="Home"
                    routerLinkActive="link-active"
                    >Inicio |
                </p>
            </div>
            <div class="col-1 vertical-center">
                <p
                    class="text-navbar no-space"
                    routerLink="Developers"
                    routerLinkActive="link-active"
                    >Developers
                </p>
            </div>    
        </div>
    </div>
    
</div>

